[Unit]
Description=Drakonix Tech Pack Minecraft world backup

[Service]
Type=oneshot
User=minecraft
Group=minecraft
ExecStart=/usr/local/bin/minecraftserverbackup-drakonixtechpack.sh
